Config { font = "xft:Ubuntu Mono:pixelsize=20:antialias=true:hinting=true"
       , additionalFonts = [
                            "xft:Medium Nerd Font Complete Mono:pixelsize=13:antialias=true:hinting=true",
                            "xft:FontAwesome:pixelsize=13:antialias=true:hinting=true"
                            ]
       , borderColor = "black"
       , border = NoBorder
       , bgColor = "#282c34"
       , fgColor = "#ff6c6b"
       , alpha = 255
       , position = Top
       , textOffset = -1
       , iconOffset = -1
       , lowerOnStart = True
       , pickBroadest = False
       , persistent = False
       , hideOnStart = False
       , iconRoot = "."
       , allDesktops = False
       , overrideRedirect = True
       , commands = [ 
                      Run Memory ["-t","Mem: <free>"] 20
                    , Run Date "%a %b %_d %Y %H:%M" "date" 600
                    , Run Battery ["Bat0"] 600
                    , Run XMonadLog
                    , Run Volume "default" "Master" [ "-t", "<volume>%<status>"
                                                    , "--", "-O", "", "-o", " (mute)"
                                                    , "-c", "#fb4934"
                                                    ] 10
                    ]
       , sepChar = "%"
       , alignSep = "}{"
       , template = "%XMonadLog% }{ %memory% | %battery% | <fc=#d3869b><box type=Bottom width=2>%default:Master%</box></fc>     <fc=#ee9a00>%date%</fc>"
       -- template = "%XMonadLog% }{ %top% %topmem% | %battery% | %memory% | <fc=#d3869b><box type=Bottom width=2>%default:Master%</box></fc>     <fc=#ee9a00>%date%</fc>"
       }
